@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&family=Poppins:wght@400;500;600;700&display=swap");
/*----------------- global style------------------ */
:root {
  --bg-black-900: #000000;
  --bg-black-100: #dddddd;
  --bg-black-50: #eff0f4;
  --text-black-900: #000000;
  --text-black-700: #555555;
  --text-black-600: #666666;
  --text-black-300: #bbbbbb;
  --outer-shadow: 2px 2px 3px #d0d0d0, -2px -2px 0 #f8f8f8;
  --outer-shadow-0: 0 0 0 #d0d0d0, 0 0 0 #f8f8f8;
  --inner-shadow: inset 2px 2px 3px #d0d0d0, inset -2px -2px 0 #f8f8f8;
}

*:not(i) {
  font-family: "Baloo Da 2", cursive;
  font-weight: 400;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 16px;
  overflow-x: hidden;
  line-height: 1.5;
  background-color: var(--bg-black-900);
}

a {
  outline: none;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

.container {
  max-width: 90%;
  margin: auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#header-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.outer-shadow {
  -webkit-box-shadow: var(--outer-shadow);
          box-shadow: var(--outer-shadow);
}

.inner-shadow {
  -webkit-box-shadow: var(--inner-shadow);
          box-shadow: var(--inner-shadow);
}

.hover-in-shadow {
  position: relative;
  z-index: 1;
}

.hover-in-shadow:hover {
  -webkit-box-shadow: var(--outer-shadow-0);
          box-shadow: var(--outer-shadow-0);
}

.hover-in-shadow::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.hover-in-shadow:hover::after {
  -webkit-box-shadow: var(--inner-shadow);
          box-shadow: var(--inner-shadow);
}

.btn-1 {
  padding: 10px 25px;
  font-size: 18px;
  font-weight: 500;
  color: var(--skin-color);
  background-color: transparent;
  line-height: 1.5;
  cursor: pointer;
  border-radius: 30px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: inline-block;
}

.btn-1::after {
  border-radius: 30px;
}

.glassBtn {
  position: relative;
  display: inline-block;
  width: 155px;
  height: 50px;
  margin: 20px;
}

.glassBtn a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 255, 255, 0.05);
  -webkit-box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
          box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border-top: 2px solid rgba(25, 255, 255, 0.1);
  border-bottom: 2px solid rgba(25, 255, 255, 0.1);
  border-radius: 30px;
  color: var(--text-black-700);
  z-index: 1;
  font-weight: normal;
  letter-spacing: 1px;
  text-decoration: none;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.glassBtn a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0.15)), to(transparent));
  background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
  -webkit-transform: skewX(45deg) translateX(0);
          transform: skewX(45deg) translateX(0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.glassBtn:hover a {
  letter-spacing: 3px;
}

.glassBtn:hover a::before {
  -webkit-transform: skewX(45deg) translateX(200%);
          transform: skewX(45deg) translateX(200%);
}

.glassBtn::before {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -5px;
  width: 30px;
  height: 10px;
  background: var(--skin-color);
  -webkit-box-shadow: 0 0 5px var(--skin-color), 0 0 15px var(--skin-color), 0 0 30px var(--skin-color), 0 0 60px var(--skin-color);
          box-shadow: 0 0 5px var(--skin-color), 0 0 15px var(--skin-color), 0 0 30px var(--skin-color), 0 0 60px var(--skin-color);
  border-radius: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.glassBtn:hover::before {
  bottom: 0;
  height: 50%;
  width: 90%;
  border-radius: 30px;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.glassBtn::after {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -5px;
  width: 30px;
  height: 10px;
  background: var(--skin-color);
  -webkit-box-shadow: 0 0 5px var(--skin-color), 0 0 15px var(--skin-color), 0 0 30px var(--skin-color), 0 0 60px var(--skin-color);
          box-shadow: 0 0 5px var(--skin-color), 0 0 15px var(--skin-color), 0 0 30px var(--skin-color), 0 0 60px var(--skin-color);
  border-radius: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.glassBtn:hover::after {
  top: 0;
  height: 50%;
  width: 90%;
  border-radius: 30px;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.effect-wrap .effect {
  position: absolute;
  z-index: -1;
}

.effect-1 {
  width: 30px;
  height: 30px;
  border: 4px solid #8a49ff;
  right: 10%;
  bottom: 10%;
  -webkit-animation: spin 10s linear infinite;
          animation: spin 10s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.effect-2 {
  left: 3%;
  bottom: 20%;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-animation: topBounce 3s ease-in-out infinite;
          animation: topBounce 3s ease-in-out infinite;
}

.effect-2 div {
  height: 3px;
  width: 3px;
  background-color: #ff9c07;
  margin: 0 3px 8px;
}

@-webkit-keyframes topBounce {
  0%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
}

@keyframes topBounce {
  0%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
}

.effect-3 {
  height: 180px;
  width: 180px;
  border: 25px solid var(--skin-color);
  border-radius: 50%;
  left: 50%;
  top: -12%;
  -webkit-animation: leftBounce 3s ease-in-out infinite;
          animation: leftBounce 3s ease-in-out infinite;
}

@-webkit-keyframes leftBounce {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(25px);
            transform: translateX(25px);
  }
}

@keyframes leftBounce {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(25px);
            transform: translateX(25px);
  }
}

@-webkit-keyframes fadeInTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes fadeInTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.effect-4 {
  border-top: 30px solid transparent;
  border-left: 30px solid #06d79c;
  left: 30%;
  top: 20%;
  -webkit-animation: spin 15s linear infinite;
          animation: spin 15s linear infinite;
}

.effect-4::before {
  content: "";
  border-top: 30px solid transparent;
  border-left: 30px solid #06d79c;
  position: absolute;
  opacity: 0.5;
  left: -35px;
  top: -25px;
}

@-webkit-keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.rubberBand {
  -webkit-animation: rubberBand 1s infinite;
          animation: rubberBand 1s infinite;
  color: var(--skin-color);
}

.blast {
  display: inline-block;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.smoke {
  height: 20vh;
  position: relative;
}

.smoke::before {
  content: "";
  position: absolute;
  border-radius: 30px;
  width: 280px;
  height: 120px;
  pointer-events: none;
  background: var(--skin-color);
  mix-blend-mode: color;
}

.smoke video {
  -o-object-fit: contain;
     object-fit: contain;
}

.smoke h2.smokeText {
  position: absolute;
  top: 5%;
  -webkit-transform: translateX(-61%);
          transform: translateX(-61%);
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 1.7rem;
  letter-spacing: 0.2rem;
}

.smoke h2.smokeText span {
  display: inline-block;
  opacity: 0;
  -webkit-animation: animate 1s linear forwards;
          animation: animate 1s linear forwards;
}

.smoke h2.smokeText span:nth-child(1) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.smoke h2.smokeText span:nth-child(2) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.smoke h2.smokeText span:nth-child(3) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.smoke h2.smokeText span:nth-child(4) {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

.smoke h2.smokeText span:nth-child(5) {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.smoke h2.smokeText span:nth-child(6) {
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
}

.smoke h2.smokeText span:nth-child(7) {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

@-webkit-keyframes animate {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
    -webkit-filter: blur(10px);
            filter: blur(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

@keyframes animate {
  0% {
    opacity: 0;
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
    -webkit-filter: blur(10px);
            filter: blur(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

.section-title {
  padding: 0 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
}

.section-title h2 {
  display: inline-block;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--text-black-900);
  margin: 0;
}

.section-title h2::before {
  content: attr(data-heading);
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: var(--skin-color);
}

/*-------------------- header styling start----------------------*/
.header {
  background-color: var(--bg-black-50);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  width: 100vw;
  min-height: 100vh;
  padding: 50px;
}

.header.show-nav {
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
}

.header.show-nav + nav li {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.header.show-nav .circle {
  -webkit-transform: rotate(-70deg);
          transform: rotate(-70deg);
}

.circle-container {
  position: fixed;
  top: -100px;
  left: -100px;
  -webkit-filter: drop-shadow(0 0 10px black);
          filter: drop-shadow(0 0 10px black);
}

.circle {
  background-color: var(--skin-color);
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.circle button {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  background: transparent;
  border: 0;
  font-size: 25px;
  color: white;
  cursor: pointer;
}

.circle button i {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.circle button i.outer-shadow {
  -webkit-box-shadow: 2px 2px 3px black, -0.5px -0.5px 0 #f8f8f8;
          box-shadow: 2px 2px 3px black, -0.5px -0.5px 0 #f8f8f8;
}

.circle button i.hover-in-shadow {
  position: relative;
  z-index: 1;
}

.circle button i.hover-in-shadow:hover {
  -webkit-box-shadow: var(--outer-shadow-0);
          box-shadow: var(--outer-shadow-0);
}

.circle button i.hover-in-shadow::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.circle button i.hover-in-shadow:hover::after {
  -webkit-box-shadow: inset 2px 2px 3px black, inset -0.5px -0.5px 0 #f8f8f8;
          box-shadow: inset 2px 2px 3px black, inset -0.5px -0.5px 0 #f8f8f8;
}

.circle button i::before {
  position: absolute;
  top: 30%;
  left: 30%;
}

.circle button:focus {
  outline: none;
}

.circle button#open {
  left: 60%;
}

.circle button#close {
  top: 60%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

nav {
  position: fixed;
  bottom: 50px;
  left: 0;
  z-index: 5;
}

nav ul {
  list-style: none;
  padding-left: 20px;
}

nav ul li {
  text-transform: capitalize;
  color: white;
  margin: 20px 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  width: 100px;
  padding: 5px 5px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

nav ul li a {
  color: white;
}

nav ul li i {
  font-size: 20px;
  margin-right: 5px;
}

nav ul li + li {
  margin-left: 15px;
  -webkit-transform: translateX(-150%);
          transform: translateX(-150%);
}

nav ul li + li + li {
  margin-left: 30px;
  -webkit-transform: translateX(-200%);
          transform: translateX(-200%);
}

nav ul li + li + li + li {
  margin-left: 45px;
  -webkit-transform: translateX(-250%);
          transform: translateX(-250%);
  width: 110px;
}

nav ul li + li + li + li + li {
  margin-left: 60px;
  -webkit-transform: translateX(-300%);
          transform: translateX(-300%);
  width: 120px;
}

nav ul li + li + li + li + li + li {
  margin-left: 75px;
  -webkit-transform: translateX(-350%);
          transform: translateX(-350%);
  width: 146px;
}

nav ul li.active.hover-in-shadow {
  -webkit-box-shadow: inset 2px 2px 5px #444, inset -0.5px -0.5px 0 #f8f8f8;
          box-shadow: inset 2px 2px 5px #444, inset -0.5px -0.5px 0 #f8f8f8;
}

nav ul li.active a {
  color: var(--skin-color);
}

nav ul li.hover-in-shadow::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

nav ul li.hover-in-shadow:hover::after {
  -webkit-box-shadow: var(--inner-shadow);
          box-shadow: var(--inner-shadow);
}

.header {
  padding: 20px 15px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.header .logo a {
  display: inline-block;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 36px;
  font-size: 30px;
  border: 2px solid var(--skin-color);
  border-radius: 50%;
  color: var(--skin-color);
  font-weight: 600;
}

/*------------ header styling end--------------- */
#home {
  position: relative;
}

.home-container .full-screen {
  min-height: 85vh;
  padding: 50px 0;
  margin: 10px auto;
}

.home-container .home-text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
}

.home-container .home-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
}

.home-container .home-text {
  color: var(--text-black-700);
}

.text-1 {
  font-size: 30px;
}

.text-1 span {
  margin: -3px;
  font-weight: 600;
}

.text-2 {
  font-size: 75px;
  margin-left: -3px;
}

.text-2 span {
  margin: -7px;
  font-weight: 700;
}

.text-3 {
  font-size: 40px;
  color: var(--text-black-700);
}

.text-3 span {
  font-weight: 600;
  margin: -3px;
}

.text-3 span.typing {
  color: var(--skin-color);
  font-weight: 700;
}

.home-container .home-text .btn-1 {
  margin-top: 30px;
}

.home-container .home-img {
  border-radius: 25%;
}

.home-container .home-img .img-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 25%;
  padding: 30px 0;
}

.home-container .home-img .img-box a {
  display: inline-block;
  padding: 15px 30px;
  color: var(--skin-color);
  position: relative;
  font-size: 25px;
  text-transform: uppercase;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  margin-bottom: 20px;
}

.home-container .home-img .img-box a:hover {
  color: white;
  background: var(--skin-color);
  -webkit-box-shadow: 0 0 10px var(--skin-color), 0 0 40px var(--skin-color), 0 0 80px var(--skin-color);
          box-shadow: 0 0 10px var(--skin-color), 0 0 40px var(--skin-color), 0 0 80px var(--skin-color);
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.home-container .home-img .img-box a span {
  position: absolute;
  display: block;
}

.home-container .home-img .img-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(var(--skin-color)));
  background: linear-gradient(90deg, transparent, var(--skin-color));
}

.home-container .home-img .img-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, right top, left top, from(transparent), to(var(--skin-color)));
  background: linear-gradient(270deg, transparent, var(--skin-color));
}

.home-container .home-img .img-box a span:nth-child(2) {
  right: 0;
  top: -100%;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(var(--skin-color)));
  background: linear-gradient(180deg, transparent, var(--skin-color));
}

.home-container .home-img .img-box a span:nth-child(4) {
  left: 0;
  bottom: -100%;
  width: 2px;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(var(--skin-color)));
  background: linear-gradient(360deg, transparent, var(--skin-color));
}

.home-container .home-img .img-box a:hover span:nth-child(1) {
  left: 100%;
  -webkit-transition: 1s;
  transition: 1s;
}

.home-container .home-img .img-box a:hover span:nth-child(3) {
  right: 100%;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.home-container .home-img .img-box a:hover span:nth-child(2) {
  top: 100%;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.home-container .home-img .img-box a:hover span:nth-child(4) {
  bottom: 100%;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-delay: 0.75s;
          transition-delay: 0.75s;
}

.boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 300px;
  width: 300px;
  position: relative;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.boxes.big {
  width: 374px;
  height: 374px;
}

.boxes.big .box {
  -webkit-transform: rotateZ(360deg);
          transform: rotateZ(360deg);
}

.box {
  background-image: url("/img/profile-pic.jpg");
  background-repeat: no-repeat;
  background-size: 300px 300px;
  position: relative;
  height: 75px;
  width: 75px;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.box::after {
  content: "";
  background-color: var(--bg-black-100);
  position: absolute;
  top: 8px;
  right: -15px;
  height: 100%;
  width: 15px;
  -webkit-transform: skewY(45deg);
          transform: skewY(45deg);
}

.box::before {
  content: "";
  background-color: var(--skin-color);
  position: absolute;
  bottom: -15px;
  left: 8px;
  height: 15px;
  width: 100%;
  -webkit-transform: skewX(45deg);
          transform: skewX(45deg);
}

.about-container {
  padding: 30px 0 0;
  height: 100%;
}

.about-container .about-info {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  max-width: 60%;
  padding: 0 15px;
}

.about-container .about-info p {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  line-height: 25px;
  margin-bottom: 15px;
  color: var(--text-black-600);
}

.about-container .about-info span {
  font-weight: 600;
  font-size: 20px;
}

.about-container .about-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  max-width: 40%;
  padding: 0 15px;
}

.about-container .about-img .img-box {
  padding: 15px;
  border-radius: 5px;
}

.about-container .about-img .img-box img {
  width: 100%;
  border: 10px solid transparent;
  border-radius: 5px;
}

.about-container .about-img .social-links {
  text-align: center;
  margin-top: 20px;
}

.about-container .about-img .social-links .socialIcons {
  position: relative;
  border-radius: 50%;
  -webkit-box-shadow: 0 5px 15px -5px #000000;
          box-shadow: 0 5px 15px -5px #000000;
  color: var(--text-black-600);
  overflow: hidden;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 10px;
}

.about-container .about-img .social-links .socialIcons i {
  line-height: 50px;
  font-size: 20px;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.about-container .about-img .social-links .socialIcons:hover i {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  color: white;
}

.about-container .about-img .social-links .socialIcons::before {
  position: absolute;
  content: "";
  width: 120%;
  height: 120%;
  background: var(--skin-color);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  right: -110%;
  top: 90%;
}

.about-container .about-img .social-links .socialIcons:hover::before {
  -webkit-animation: socialIconsanimate 0.8s 1;
          animation: socialIconsanimate 0.8s 1;
  top: -10%;
  right: -10%;
}

@-webkit-keyframes socialIconsanimate {
  0% {
    left: -110%;
    top: 90%;
  }
  50% {
    left: 10%;
    top: -30%;
  }
  100% {
    left: -10%;
    top: -10%;
  }
}

@keyframes socialIconsanimate {
  0% {
    left: -110%;
    top: 90%;
  }
  50% {
    left: 10%;
    top: -30%;
  }
  100% {
    left: -10%;
    top: -10%;
  }
}

.about-container .about-tabs {
  padding: 50px 15px 40px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
}

.about-container .about-tabs .tab-item {
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 30px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 16px;
  color: var(--text-black-600);
  font-weight: 500;
  text-transform: capitalize;
}

.about-container .about-tabs .tab-item:hover:not(.active) {
  opacity: 0.6;
}

.about-container .about-tabs .tab-item.active {
  color: var(--skin-color);
}

.about-container .tab-content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  display: none;
}

.about-container .tab-content.active {
  display: block;
  -webkit-animation: fadeInTop 0.7s ease;
          animation: fadeInTop 0.7s ease;
}

.about-container .skills ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: 2;
}

.about-container .skills ul li {
  position: relative;
  list-style: none;
  margin: 18px;
}

.about-container .skills ul li a {
  position: relative;
  width: 180px;
  height: 180px;
  display: inline-block;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: var(--text-black-600);
  font-size: 4.5em;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow: hidden;
}

.about-container .skills ul li a:hover {
  -webkit-transform: translateY(-25px);
          transform: translateY(-25px);
  color: var(--skin-color);
}

.about-container .skills ul li a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  background: var(--skin-color);
  -webkit-transform: skewX(45deg) translateX(170px);
          transform: skewX(45deg) translateX(170px);
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.about-container .skills ul li a:hover::before {
  -webkit-transform: skewX(45deg) translateX(-170px);
          transform: skewX(45deg) translateX(-170px);
}

.about-container .experience, .about-container .education {
  padding: 50px 0;
}

.about-container .timeline {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  position: relative;
}

.about-container .timeline:before {
  content: "";
  width: 2px;
  height: 100%;
  left: 50%;
  top: 0;
  background-color: var(--skin-color);
  position: absolute;
}

.about-container .timeline .timeline-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  padding: 0 15px;
}

.about-container .timeline .timeline-item:nth-child(odd) {
  padding-right: calc(50% + 50px);
  text-align: right;
}

.about-container .timeline .timeline-item:nth-child(odd) .timeline-item-inner::before {
  right: -30px;
}

.about-container .timeline .timeline-item:nth-child(even) {
  padding-left: calc(50% + 50px);
}

.about-container .timeline .timeline-item:nth-child(even) .timeline-item-inner::before {
  left: -30px;
}

.about-container .timeline .timeline-item:nth-child(odd) .icon {
  right: -70px;
}

.about-container .timeline .timeline-item:nth-child(even) .icon {
  left: -70px;
}

.about-container .timeline .timeline-item-inner {
  padding: 30px;
  border-radius: 5px;
  position: relative;
}

.about-container .timeline .timeline-item-inner::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background: var(--skin-color);
  top: 35px;
}

.about-container .timeline .timeline-item-inner .icon {
  background-color: var(--bg-black-50);
  border: 1px solid var(--skin-color);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  font-size: 16px;
  color: var(--skin-color);
  position: absolute;
  text-align: center;
  line-height: 40px;
  top: 18px;
}

.about-container .timeline .timeline-item-inner span {
  font-weight: 500;
  color: var(--skin-color);
  display: block;
  margin: 0 0 10px;
  text-transform: capitalize;
}

.about-container .timeline .timeline-item-inner h3 {
  font-size: 20px;
  color: var(--text-black-700);
  font-weight: 600;
  margin: 0 0 5px;
  text-transform: capitalize;
}

.about-container .timeline .timeline-item-inner h4 {
  font-size: 16px;
  color: var(--text-black-600);
  margin: 0;
  font-style: italic;
}

.about-container .timeline .timeline-item-inner p {
  font-size: 16px;
  color: var(--text-black-600);
  line-height: 26px;
  margin: 15px 0 0;
}

footer p {
  color: var(--text-black-300);
  position: fixed;
  bottom: 2px;
  text-align: center;
  margin: 10px auto;
  width: 100vw;
  line-height: 1.5;
  letter-spacing: 3px;
  z-index: 1;
}
/*# sourceMappingURL=style.css.map */