// ---------------fonts--------------
@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&family=Poppins:wght@400;500;600;700&display=swap");
// font-family: 'Baloo Da 2', cursive;
// font-family: 'Poppins', sans-serif;

/*----------------- global style------------------ */
// define custom css variables
:root {
  --bg-black-900: #000000;
  --bg-black-100: #dddddd;
  --bg-black-50: #eff0f4;
  --text-black-900: #000000;
  --text-black-700: #555555;
  --text-black-600: #666666;
  --text-black-300: #bbbbbb;
  --outer-shadow: 2px 2px 3px #d0d0d0, -2px -2px 2px #f8f8f8;
  --outer-shadow-0: 0 0 0 #d0d0d0, 0 0 0 #f8f8f8;
  --inner-shadow: inset 2px 2px 3px #d0d0d0, inset -2px -2px 2px #f8f8f8;
  --inner-shadow-0: inset 0 0 0 #d0d0d0, inset 0 0 0 #f8f8f8;
}

*:not(i) {
  font-family: "Baloo Da 2", cursive;
  font-weight: 400;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
  overflow-x: hidden;
  line-height: 1.5;
  background-color: var(--bg-black-900);
}
a {
  outline: none;
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  vertical-align: middle;
  max-width: 100%;
}
.container {
  max-width: 90%;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
#header-row {
  flex-direction: row-reverse;
}
.justify-content-between {
  justify-content: space-between;
}
.align-items-center {
  align-items: center;
}
.outer-shadow {
  box-shadow: var(--outer-shadow);
}
.inner-shadow {
  box-shadow: var(--inner-shadow);
}
.hover-in-shadow {
  position: relative;
  z-index: 1;
}
.hover-in-shadow:hover {
  box-shadow: var(--outer-shadow-0);
}
.hover-in-shadow::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: all 0.3s ease-in;
}
.hover-in-shadow:hover::after {
  box-shadow: var(--inner-shadow);
}
.btn-1 {
  padding: 10px 25px;
  font-size: 18px;
  font-weight: 500;
  color: var(--skin-color);
  background-color: transparent;
  line-height: 1.5;
  cursor: pointer;
  border-radius: 30px;
  transition: all 0.3s ease;
  display: inline-block;
}
.btn-1::after {
  border-radius: 30px;
}
.glassBtn {
  position: relative;
  display: inline-block;
  width: 155px;
  height: 50px;
  margin: 20px;

  a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-top: 2px solid rgba(25, 255, 255, 0.1);
    border-bottom: 2px solid rgba(25, 255, 255, 0.1);
    border-radius: 30px;
    color: var(--text-black-700);
    z-index: 1;
    font-weight: normal;
    letter-spacing: 1px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.5s;
    backdrop-filter: blur(10px);

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      background: linear-gradient(
        to left,
        rgba(255, 255, 255, 0.15),
        transparent
      );
      transform: skewX(45deg) translateX(0);
      transition: 0.5s;
    }
  }
  &:hover a {
    letter-spacing: 3px;

    &::before {
      transform: skewX(45deg) translateX(200%);
    }
  }
  &::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -5px;
    width: 30px;
    height: 10px;
    background: var(--skin-color);
    box-shadow: 0 0 5px var(--skin-color), 0 0 15px var(--skin-color),
      0 0 30px var(--skin-color), 0 0 60px var(--skin-color);
    border-radius: 10px;
    transition: 0.5s;
    transition-delay: 0s;
  }
  &:hover::before {
    bottom: 0;
    height: 50%;
    width: 90%;
    border-radius: 30px;
    transition-delay: 0.5s;
  }
  &::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -5px;
    width: 30px;
    height: 10px;
    background: var(--skin-color);
    box-shadow: 0 0 5px var(--skin-color), 0 0 15px var(--skin-color),
      0 0 30px var(--skin-color), 0 0 60px var(--skin-color);
    border-radius: 10px;
    transition: 0.5s;
    transition-delay: 0s;
  }
  &:hover::after {
    top: 0;
    height: 50%;
    width: 90%;
    border-radius: 30px;
    transition-delay: 0.5s;
  }
}
.effect-wrap .effect {
  position: absolute;
  z-index: -1;
}
.effect-1 {
  width: 30px;
  height: 30px;
  border: 4px solid #8a49ff;
  right: 10%;
  bottom: 10%;
  animation: spin 10s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.effect-2 {
  left: 3%;
  bottom: 20%;
  width: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  animation: topBounce 3s ease-in-out infinite;
}
.effect-2 div {
  height: 3px;
  width: 3px;
  background-color: #ff9c07;
  margin: 0 3px 8px;
}
@keyframes topBounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(25px);
  }
}
.effect-3 {
  height: 180px;
  width: 180px;
  border: 25px solid var(--skin-color);
  border-radius: 50%;
  left: 50%;
  top: -12%;
  animation: leftBounce 3s ease-in-out infinite;
}
@keyframes leftBounce {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(25px);
  }
}
@keyframes fadeInTop {
  0% {
    opacity: 0;
    transform: translateY(-25px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.effect-4 {
  border-top: 30px solid transparent;
  border-left: 30px solid #06d79c;
  left: 30%;
  top: 20%;
  animation: spin 15s linear infinite;
}
.effect-4::before {
  content: "";
  border-top: 30px solid transparent;
  border-left: 30px solid #06d79c;
  position: absolute;
  opacity: 0.5;
  left: -35px;
  top: -25px;
}
@keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    -ms-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    -ms-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    -ms-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    -ms-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    -ms-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.rubberBand {
  animation: rubberBand 1s infinite;
  color: var(--skin-color);
}
.blast {
  display: inline-block;
  transition: all 0.3s ease-out;
}
// ------------------SMOKE TEXT----------------
.smoke {
  height: 20vh;
  // background: #000;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    border-radius: 30px;
    width: 280px;
    height: 120px;
    pointer-events: none;
    // background: linear-gradient(to right, #f00, #f00, #0f0, #0ff, #ff0, #0ff);
    background: var(--skin-color);
    mix-blend-mode: color;
  }
  video {
    object-fit: contain;
  }
  h2.smokeText {
    position: absolute;
    top: 5%;
    transform: translateX(-61%);
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 1.7rem;
    letter-spacing: 0.2rem;
    span {
      display: inline-block;
      opacity: 0;
      animation: animate 1s linear forwards;

      &:nth-child(1) {
        animation-delay: 1s;
      }
      &:nth-child(2) {
        animation-delay: 1.5s;
      }
      &:nth-child(3) {
        animation-delay: 2s;
      }
      &:nth-child(4) {
        animation-delay: 2.5s;
      }
      &:nth-child(5) {
        animation-delay: 3s;
      }
      &:nth-child(6) {
        animation-delay: 3.5s;
      }
      &:nth-child(7) {
        animation-delay: 4s;
      }
      &:nth-child(8) {
        animation-delay: 4.5s;
      }
    }
  }
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotateY(90deg);
    filter: blur(10px);
  }
  100% {
    opacity: 1;
    transform: rotateY(0deg);
    filter: blur(0);
  }
}
// ----------smoke effect ends-----------------------
.section-title {
  padding: 0 15px;
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;

  h2 {
    display: inline-block;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--text-black-900);
    margin: 0;
    &::before {
      content: attr(data-heading);
      display: block;
      font-size: 16px;
      font-weight: 600;
      color: var(--skin-color);
    }
  }
}
/*-------------------- header styling start----------------------*/
// --------------nav button-------------------------
.header {
  background-color: var(--bg-black-50);
  transform-origin: top left;
  transition: all 0.5s linear;
  width: 100vw;
  min-height: 100vh;
  padding: 50px;

  &.show-nav {
    transform: rotate(-20deg);

    & + nav li {
      transform: translateX(0);
      transition-delay: 0.3s;
    }
    & .circle {
      transform: rotate(-70deg);
    }
  }
}
.circle-container {
  position: fixed;
  top: -100px;
  left: -100px;
  filter: drop-shadow(0 0 10px black);
}
.circle {
  background-color: var(--skin-color);
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;
  transition: all 0.5s linear;

  button {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    background: transparent;
    border: 0;
    font-size: 25px;
    color: white;
    cursor: pointer;

    i {
      width: 50px;
      height: 50px;
      border-radius: 50%;

      &.outer-shadow {
        box-shadow: 2px 2px 3px black, -0.5px -0.5px 0 #f8f8f8;
      }
      &.hover-in-shadow {
        position: relative;
        z-index: 1;
      }
      &.hover-in-shadow:hover {
        box-shadow: var(--outer-shadow-0);
      }
      &.hover-in-shadow::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        transition: all 0.3s ease-in;
      }
      &.hover-in-shadow:hover::after {
        box-shadow: inset 2px 2px 3px black, inset -0.5px -0.5px 0 #f8f8f8;
      }
      &::before {
        position: absolute;
        top: 30%;
        left: 30%;
      }
    }

    &:focus {
      outline: none;
    }
    &#open {
      left: 60%;
    }
    &#close {
      top: 60%;
      transform: rotate(90deg);
      transform-origin: top left;
    }
  }
}
nav {
  position: fixed;
  bottom: 50px;
  left: 0;
  z-index: 5;

  ul {
    list-style: none;
    padding-left: 20px;

    li {
      text-transform: capitalize;
      color: white;
      margin: 20px 0;
      transform: translateX(-100%);
      transition: all 0.5s linear;
      width: 100px;
      // border: 2px solid red;
      padding: 5px 5px;
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
      a {
        color: white;
      }
      i {
        font-size: 20px;
        margin-right: 5px;
      }
      & + li {
        margin-left: 15px;
        transform: translateX(-150%);
      }
      & + li + li {
        margin-left: 30px;
        transform: translateX(-200%);
      }
      & + li + li + li {
        margin-left: 45px;
        transform: translateX(-250%);
        width: 110px;
      }
      & + li + li + li + li {
        margin-left: 60px;
        transform: translateX(-300%);
        width: 120px;
      }
      & + li + li + li + li + li {
        margin-left: 75px;
        transform: translateX(-350%);
        width: 146px;
      }
      &.active {
        &.hover-in-shadow {
          box-shadow: inset 2px 2px 5px #444, inset -0.5px -0.5px 0 #f8f8f8;
        }
        a {
          color: var(--skin-color);
        }
      }
      &.hover-in-shadow::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        transition: all 0.3s ease-in;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
      }
      &.hover-in-shadow:hover::after {
        box-shadow: var(--inner-shadow);
      }
    }
  }
}
//   ------------------------nav button styling ends---------------
.header {
  padding: 20px 15px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  // display: flex;
  // flex-direction: row-reverse;

  .logo a {
    display: inline-block;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 36px;
    font-size: 30px;
    border: 2px solid var(--skin-color);
    border-radius: 50%;
    color: var(--skin-color);
    font-weight: 600;
  }
}
/*------------ header styling end--------------- */
// ----------------home styling start----------------
#home {
  position: relative;
}
.home-container .full-screen {
  min-height: 85vh;
  padding: 50px 0;
  margin: 10px auto;
}
.home-container .home-text {
  flex: 0 0 60%;
}
.home-container .home-img {
  flex: 0 0 40%;
}
.home-container .home-text {
  color: var(--text-black-700);
}
.text-1 {
  font-size: 30px;
  span {
    margin: -3px;
    font-weight: 600;
  }
}
.text-2 {
  font-size: 75px;
  margin-left: -3px;
  span {
    margin: -7px;
    font-weight: 700;
  }
}
.text-3 {
  font-size: 40px;
  color: var(--text-black-700);
  span {
    font-weight: 600;
    margin: -3px;
  }
  span.typing {
    color: var(--skin-color);
    font-weight: 700;
  }
}
.home-container .home-text .btn-1 {
  margin-top: 30px;
}
.home-container .home-img {
  border-radius: 25%;
}
.home-container .home-img .img-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25%;
  padding: 30px 0;
}
.home-container .home-img .img-box a {
  display: inline-block;
  padding: 15px 30px;
  color: var(--skin-color);
  position: relative;
  font-size: 25px;
  text-transform: uppercase;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  margin-bottom: 20px;

  &:hover {
    color: white;
    background: var(--skin-color);
    box-shadow: 0 0 10px var(--skin-color), 0 0 40px var(--skin-color),
      0 0 80px var(--skin-color);
    transition-delay: 1s;
  }

  span {
    position: absolute;
    display: block;

    &:nth-child(1) {
      top: 0;
      left: -100%;
      width: 100%;
      height: 2px;
      background: linear-gradient(90deg, transparent, var(--skin-color));
    }
    &:nth-child(3) {
      bottom: 0;
      right: -100%;
      width: 100%;
      height: 2px;
      background: linear-gradient(270deg, transparent, var(--skin-color));
    }
    &:nth-child(2) {
      right: 0;
      top: -100%;
      width: 2px;
      height: 100%;
      background: linear-gradient(180deg, transparent, var(--skin-color));
    }
    &:nth-child(4) {
      left: 0;
      bottom: -100%;
      width: 2px;
      height: 100%;
      background: linear-gradient(360deg, transparent, var(--skin-color));
    }
  }

  &:hover span:nth-child(1) {
    left: 100%;
    transition: 1s;
  }
  &:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
  }
  &:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
  }
  &:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
  }
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 300px;
  width: 300px;
  position: relative;
  transition: 0.4s ease;
}

.boxes.big {
  width: 374px;
  height: 374px;
}

.boxes.big .box {
  transform: rotateZ(360deg);
}

.box {
  background-image: url("/img/profile-pic.jpg");
  background-repeat: no-repeat;
  background-size: 300px 300px;
  position: relative;
  height: 75px;
  width: 75px;
  transition: 0.4s ease;
}

.box::after {
  content: "";
  background-color: var(--bg-black-100);
  position: absolute;
  top: 8px;
  right: -15px;
  height: 100%;
  width: 15px;
  transform: skewY(45deg);
}

.box::before {
  content: "";
  background-color: var(--skin-color);
  position: absolute;
  bottom: -15px;
  left: 8px;
  height: 15px;
  width: 100%;
  transform: skewX(45deg);
}

// ----------------home styling end----------------
// ----------------About styling start----------------
.about-container {
  padding: 30px 0 0;
  height: 100%;

  .about-info {
    flex: 0 0 60%;
    max-width: 60%;
    padding: 0 15px;
    p {
      font-size: 16px;
      font-family: "Poppins", sans-serif;
      line-height: 25px;
      margin-bottom: 15px;
      color: var(--text-black-600);
    }
    span {
      font-weight: 600;
      font-size: 20px;
    }
  }

  .about-img {
    flex: 0 0 40%;
    max-width: 40%;
    padding: 0 15px;
    .img-box {
      padding: 15px;
      border-radius: 5px;
      img {
        width: 100%;
        border: 10px solid transparent;
        border-radius: 5px;
      }
    }
    .social-links {
      text-align: center;
      margin-top: 20px;
      .socialIcons {
        position: relative;
        border-radius: 50%;
        box-shadow: 0 5px 15px -5px #000000;
        color: var(--text-black-600);
        overflow: hidden;
        display: inline-block;
        width: 50px;
        height: 50px;
        // background: #fff;
        margin: 10px;
        i {
          line-height: 50px;
          font-size: 20px;
          transition: 0.3s linear;
        }
        &:hover i {
          transform: scale(1.5);
          color: white;
        }
        &::before {
          position: absolute;
          content: "";
          width: 120%;
          height: 120%;
          background: var(--skin-color);
          transform: rotate(45deg);
          right: -110%;
          top: 90%;
        }
        &:hover::before {
          animation: socialIconsanimate 0.8s 1;
          top: -10%;
          right: -10%;
        }
      }
      @keyframes socialIconsanimate {
        0% {
          left: -110%;
          top: 90%;
        }
        50% {
          left: 10%;
          top: -30%;
        }
        100% {
          left: -10%;
          top: -10%;
        }
      }
    }
  }
  .about-tabs {
    padding: 50px 15px 40px;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    .tab-item {
      display: inline-block;
      margin: 0 5px;
      cursor: pointer;
      padding: 10px 20px;
      border-radius: 30px;
      transition: all 0.3s ease;
      font-size: 16px;
      color: var(--text-black-600);
      font-weight: 500;
      text-transform: capitalize;
      &:hover:not(.active) {
        opacity: 0.6;
      }
      &.active {
        color: var(--skin-color);
      }
    }
  }
  .tab-content {
    flex: 0 0 100%;
    max-width: 100%;
    display: none;

    &.active {
      display: block;
      animation: fadeInTop 0.7s ease;
    }
  }

  .skills {
    ul {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      z-index: 2;

      li {
        position: relative;
        list-style: none;
        margin: 18px;

        a {
          position: relative;
          width: 180px;
          height: 180px;
          display: inline-block;
          border-radius: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          color: var(--text-black-600);
          font-size: 4.5em;
          border: 1px solid rgba(255, 255, 255, 0.4);
          border-right: 1px solid rgba(255, 255, 255, 0.2);
          border-bottom: 1px solid rgba(255, 255, 255, 0.2);
          box-shadow: 0 5px 45px rgba(0, 0, 0, 0.1);
          backdrop-filter: blur(2px);
          transition: 0.5s;
          overflow: hidden;

          &:hover {
            transform: translateY(-25px);
            color: var(--skin-color);
          }
          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 50px;
            height: 100%;
            // background: rgba(255, 255, 255, 0.5);
            background: var(--skin-color);
            transform: skewX(45deg) translateX(170px);
            transition: 0.7s;
          }
          &:hover::before {
            transform: skewX(45deg) translateX(-170px);
          }
        }
      }
    }
  }
  .experience,
  .education {
    padding: 50px 0;
  }
  .timeline {
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    &:before {
      content: "";
      width: 2px;
      height: 100%;
      left: 50%;
      top: 0;
      // background-color: var(--bg-black-100);
      background-color: var(--skin-color);
      position: absolute;
    }

    .timeline-item {
      flex: 0 0 100%;
      max-width: 100%;
      padding: 0 15px;

      &:nth-child(odd) {
        padding-right: calc(50% + 50px);
        text-align: right;

        .timeline-item-inner::before {
          right: -30px;
        }
      }
      &:nth-child(even) {
        padding-left: calc(50% + 50px);

        .timeline-item-inner::before {
          left: -30px;
        }
      }
      &:nth-child(odd) .icon {
        right: -70px;
      }
      &:nth-child(even) .icon {
        left: -70px;
      }
    }
    .timeline-item-inner {
      padding: 30px;
      border-radius: 5px;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 30px;
        height: 2px;
        background: var(--skin-color);
        top: 35px;
      }

      .icon {
        background-color: var(--bg-black-50);
        border: 1px solid var(--skin-color);
        height: 40px;
        width: 40px;
        border-radius: 50%;
        font-size: 16px;
        color: var(--skin-color);
        position: absolute;
        text-align: center;
        line-height: 40px;
        top: 18px;
      }
      span {
        font-weight: 500;
        color: var(--skin-color);
        display: block;
        margin: 0 0 10px;
        text-transform: capitalize;
      }
      h3 {
        font-size: 20px;
        color: var(--text-black-700);
        font-weight: 600;
        margin: 0 0 5px;
        text-transform: capitalize;
      }
      h4 {
        font-size: 16px;
        color: var(--text-black-600);
        margin: 0;
        font-style: italic;
      }
      p {
        font-size: 16px;
        color: var(--text-black-600);
        line-height: 26px;
        margin: 15px 0 0;
      }
    }
  }
}

// ----------------About styling end----------------
//-----------------service styling start------------------
.services-container {
  padding: 50px 0;
  min-height: 100vh;

  .gradContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .gradBox {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 400px;
    color: white;
    background: #111;
    margin: 20px;
    transition: all 0.5s;

    &:hover {
      transform: translateY(-20px);
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(45deg, #ffbc00, #ff0058);
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(45deg, #ffbc00, #ff0058);
      filter: blur(30px);
    }
    &:nth-child(2)::before,
    &:nth-child(2)::after,
    &:nth-child(6)::before,
    &:nth-child(6)::after {
      background: linear-gradient(315deg, #03a9f4, #ff0058);
    }
    &:nth-child(3)::before,
    &:nth-child(3)::after,
    &:nth-child(4)::before,
    &:nth-child(4)::after {
      background: linear-gradient(315deg, #4dff03, #00d0ff);
    }
    span {
      position: absolute;
      top: 6px;
      bottom: 6px;
      left: 6px;
      right: 6px;
      background: rgba(0, 0, 0, 0.6);
      z-index: 2;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background: rgba(255, 255, 255, 0.1);
        pointer-events: none;
      }
    }
    .gradBoxContent {
      position: relative;
      z-index: 10;
      padding: 20px 40px;
      text-align: center;

      h2 {
        font-size: 2em;
        color: white;
        margin-bottom: 10px;
      }
      p {
        font-size: 1.1em;
        color: white;
        margin-bottom: 10px;
        line-height: 2em;
      }
      .icon {
        border-radius: 50%;
        height: 60px;
        width: 60px;
        margin: 10px auto 20px;
        text-align: center;
        i {
          font-size: 25px;
          line-height: 60px;
        }
      }
      &:hover .icon {
        box-shadow: var(--inner-shadow-0);
      }
      &:hover i {
        font-size: 35px;
      }
    }
  }
}
//-----------------service styling end------------------

// -----------------footer--------------------
footer p {
  color: var(--text-black-300);
  position: fixed;
  bottom: 2px;
  text-align: center;
  margin: 10px auto;
  width: 100vw;
  line-height: 1.5;
  letter-spacing: 3px;
  z-index: 1;
}
